{{page-title 'Employee'}}
<div class='container'>
  <form>
    <h3>Employee Details of {{@model.employeeName}}</h3>
   <div class="input-group mb-3">
   <span class="input-group-text">Employee ID</span>
  <input type="text" class="form-control" placeholder="Username" aria-label="Username">
  &nbsp;&nbsp;&nbsp;
  <span class="input-group-text">Employee Name</span>
  <input type="text" class="form-control" placeholder="Server" aria-label="Server">
  </div>
     <div class="input-group mb-3">
   <span class="input-group-text">Login ID</span>
  <input type="text" class="form-control" placeholder="Username" aria-label="Username">
  &nbsp;&nbsp;&nbsp;
  <span class="input-group-text">Job Title</span>
  <input type="text" class="form-control" placeholder="Server" aria-label="Server">
  </div>
     <div class="input-group mb-3">
   <span class="input-group-text">Birth date</span>
  <input type="text" class="form-control" placeholder="Username" aria-label="Username">
  &nbsp;&nbsp;&nbsp;
  <span class="input-group-text">Marital Status</span>
  <input type="text" class="form-control" placeholder="Server" aria-label="Server">
  </div>
     <div class="input-group mb-3">
   <span class="input-group-text">Gender</span>
  <input type="text" class="form-control" placeholder="Username" aria-label="Username">
  &nbsp;&nbsp;&nbsp;
  <span class="input-group-text">Hire Date</span>
  <input type="text" class="form-control" placeholder="Server" aria-label="Server">
  </div>
     <div class="input-group mb-3">
   <span class="input-group-text">Vacation Hour</span>
  <input type="text" class="form-control" placeholder="Username" aria-label="Username">
  &nbsp;&nbsp;&nbsp;
  <span class="input-group-text">Sick Leave Hour</span>
  <input type="text" class="form-control" placeholder="Server" aria-label="Server">
  </div>
     <div class="input-group mb-3">
   <span class="input-group-text">Row Guid</span>
  <input type="text" class="form-control" placeholder="Username" aria-label="Username">
  &nbsp;&nbsp;&nbsp;
  <span class="input-group-text">Modified Date</span>
  <input type="text" class="form-control" placeholder="Server" aria-label="Server">
  </div>
</form>
</div>
{{outlet}}