{{page-title "Employee"}}
<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <span class="navbar-brand mb-0 h1">Employee Crud</span>
    {{#if this.session.isAuthenticated}}
    <button type="button" {{on "click" this.invalidateSession }}>Logout</button>
    {{else}}
    <LinkTo @route="login">Login</LinkTo>
    {{/if}}
  </div>
</nav>
{{outlet}}